<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <title>THENAME - <%= content_for?(:title) ? yield(:title) : 'STANDARDTEXT' %></title>

  <!-- Favicons -->
  <!-- link href="assets/img/favicon.png" rel="icon"-->
  <!-- link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"-->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<body>
  <% if Rails.env == "development" %>
    <script type="text/javascript">
      console.log("controller: <%= controller_name %>; action: <%= action_name %>");
    </script>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
</body>

</html>